:root {
    --primary: #7E81C6;
    --secondary: #e8edfd;
    --error: #EA5A5A;
    --valid: #57ED9B;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.songfiles {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.songfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

textarea {
    resize: none;
}

input:not([type='file']), textarea {
    display: block;
    border: none;
    border-left: 0.3rem solid transparent;
    outline: none;
    background-color: rgb(245, 245, 245);
    padding: .5em 1em;
    padding-left: 0.7em;
    border-radius: .5em;
}

input:not([type='file']):hover, textarea:hover {
    background-color: rgb(235, 235, 235);
}

input:not([type='file']):invalid, textarea:invalid {
    border-color: var(--error);
}

input:not([type='file']):valid:required, textarea:valid:required {
    border-color: var(--valid);
}

button {
    outline: none;
    background-color: var(--primary);
    border-radius: .5em;
    border: none;
    color: white;
    padding: .3em 1em;
}

button.large {
    font-size: 1.2rem;
}

button:not(:disabled):hover {
    cursor: pointer;
    opacity: 75%;
}

button:disabled {
    opacity: 50%;
}

button:disabled:hover {
    cursor: not-allowed;
}

.button-remove {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    padding: 0 .5em;
    color: black;
}

.control-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 1em;
}

.control-buttons img {
    width: 16px;
}

.song-link {
    display: block;
    margin-top: 2rem;
    text-decoration: none;
    color: var(--primary);
}

.song-link:hover {
    opacity: 50%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}

.right {
    margin-left: auto;
}

/* Album */

.album-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.album {
    background-color: rgb(235, 235, 235);
    display: flex;
    width: fit-content;
    grid-template-columns: auto auto;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    transition: transform .1s linear;
}

.album:hover {
    background-color: var(--secondary);
}

.album-cover {
    display: block;
    max-width: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.large-cover {
    max-width: 400px;
}

.album-info h2 {
    margin-bottom: 1rem;
}

.songs {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.song {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}
.song-title {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.song-buttons {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

@media (max-width: 1200px) {
    .album-container {
        flex-direction: column;
    }
    .album-cover {
        max-width: 400px;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 2rem;
    }
    .album {
        flex-direction: column;
        margin-inline: 1rem;
    }
    .album-container .album {
        flex-direction: column;
    }
    .album-cover {
        max-width: none;
    }
    .control-buttons {
        padding: 1em 2em;
    }
    .control-buttons img {
        width: 32px;
    }
}
