:root {
    --primary: #7E81C6;
    --secondary: #dde4fa;
    --error: #EA5A5A;
    --valid: #57ED9B;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

body {
    display: flex;
}

nav {
    height: 100vh;
    width: fit-content;
    min-width: 200px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.nav-link {
    font-size: 1.3em;
    color: var(--secondary);
}

main {
    flex-grow: 1;
    padding: 0 1rem;
    margin-bottom: 5rem;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.logo {
    width: 100px;
}

.songfiles {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    max-width: 90%;
    position: relative;
    top: -1.5rem;
}

.songfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: .5rem;
}

textarea {
    resize: none;
}

#error-message {
    color: var(--error);
}

form {
    max-width: 30rem;
    flex-grow: 1;
}

.form-container {
    background-color: rgb(235, 235, 235);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.form-item {
    display: grid;
    grid-template-columns: 10rem auto;
}

input:not([type='file']), textarea {
    border: none;
    outline: none;
    border: 1px solid transparent;
    border-radius: .5rem;
    padding: .5rem;
}

input:not([type='file']):invalid, textarea:invalid {
    box-shadow: -0.25rem 0 0 0 var(--error);
}

input:not([type='file']):valid, textarea:valid {
    box-shadow: -0.25rem 0 0 0 var(--valid);
}    

button {
    outline: none;
    background-color: var(--primary);
    border-radius: .5em;
    border: none;
    color: white;
    padding: .3em 1em;
    width: fit-content;
}

button.large {
    font-size: 1.2rem;
}

button:not(:disabled):hover {
    cursor: pointer;
    opacity: 75%;
}

button:disabled {
    opacity: 50%;
}

button:disabled:hover {
    cursor: not-allowed;
}

.button-remove {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    padding: 0 .5em;
    color: black;
}

.control-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 1em;
}

.button-delete {
    background-color: var(--error);
}

.control-buttons img {
    width: 16px;
}

.song-link {
    margin-top: 2rem;
    color: var(--primary);
}

.delete-link {
    margin-top: 2rem;
    color: var(--error);
}

.add-link {
    color: var(--primary);
    margin-top: 1rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    opacity: 50%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.right {
    margin-left: auto;
}

/* Album */

.album-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.album {
    background-color: rgb(235, 235, 235);
    display: flex;
    width: fit-content;
    grid-template-columns: auto auto;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    transition: transform .25s linear, box-shadow .25s linear;
}

.album-cover {
    display: block;
    max-width: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.large-cover {
    max-width: 400px;
}

.album-info h2 {
    margin-bottom: 1rem;
}

.songs {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.song {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}
.song-title {
    display: block;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.description {
    max-width: 350px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 2rem;
}
.song-buttons {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

@media (max-width: 1200px) {
    body {
        display: flex;
        flex-direction: column;
    }
    nav {
        height: fit-content;
        flex-direction: row;
        width: 100%;
    }
    .nav-list {
        flex-direction: row;
        align-items: center;
    }
    .album-container {
        flex-direction: column;
    }
    .album-cover {
        max-width: 400px;
    }
}

@media (max-width: 800px) {
    .album {
        flex-direction: column;
        margin: 0 1rem;
    }
    .album-container .album {
        flex-direction: column;
    }
    .album-cover {
        max-width: none;
    }
    .control-buttons {
        padding: 1em 2em;
    }
    .control-buttons img {
        width: 24px;
    }
}
